Source: dell-smo8800
Section: kernel
Priority: extra
Maintainer: Pali Rohár <pali.rohar@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/pali/SMO8800

Package: dell-smo8800-dkms
Architecture: all
Depends: dkms
Description: Dell Latitude freefall driver (ACPI SMO88XX) (DKMS)

Package: freefall
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, dell-smo8800-dkms
Description: Freefall program for disk protection on HP/DELL machines

Package: dell-lis3lv02d
Architecture: all
Description: Dell Latitude 3 axes accelerometer support
 This package contains support script which loads lis3lv02d.ko kernel driver
 with correct configuration.
 .
 Supported Dell Latitude models: E6540 E6440 E6440ATG E5250 E5450 E5550
